<div class="left-sidebar">
  <div class="button-container">
    <div class="left-button main-button">
      <i class="fab fa-soundcloud"></i>
    </div>
    <div class="left-button">
      <i class="fas fa-music"></i>
    </div>
    <div class="left-button">
      <i class="fas fa-user-plus"></i>
    </div>
    <div class="left-button">
      <i class="fas fa-users-cog"></i>
    </div>
    <div class="left-button">
      <i class="fas fa-tachometer-alt"></i>
    </div>


    <div class="left-button" id="logout-left-button">
      <div style="text-align:center ">
        <i class="fas fa-power-off"></i>
      </div>
    </div>
  </div>
</div>
