.left-sidebar{
  height: 100%;
  width: var(--sidebar-size);
  position: fixed;
  left: 0px;
  background-color: rgb(22,29,35);
}

.button-container{
  width: 100%;
  height: 100%;
}
.left-button{
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  height: var(--sidebar-size);
  padding-top: 18px;
}

.main-button{
  font-size: 27px;
  background-color: #001f3f;
  padding-top: 14px;
}
