<div class="top-sidebar">
  <div class="sidebar-container">

    <div class="sidebar-search">
      <form>
        <i class="fas fa-search"></i>
        <input class="search-input roboto-light" type="search" placeholder="Rechercher musiques, artistes..." aria-label="Search">
      </form>
    </div>
    <div class="sidebar-user-profile">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link">
            {{auth.artistName}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
