<div class="top-sidebar">
  <div class="sidebar-container">

    <div class="sidebar-search">
      <form>
        <i class="fas fa-search"></i>
        <input class="search-input roboto-light" type="search" placeholder="Rechercher musiques, artistes..." aria-label="Search">
      </form>
    </div>
    <div class="sidebar-user-profile">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="user-profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="user-profile">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
