
.roboto-light{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.roboto-bold{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.qs-light{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.qs{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.qs-bold{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
}
