<div *ngIf="auth.isAuth" class="row">

  <div class="col col-xs-12 col-sm-12 col-md-12">
    <file-drop
      headertext="Drop files here" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
      headertext=" "
      customstyle="uploader-container">

    </file-drop>
    <p *ngIf="filesResults.length < 1" class="roboto-bold">Déposer des instruments</p>

    <div class="files-container">
      <div *ngFor="let file of filesResults" class="file-container">
        {{file.name}}
      </div>
    </div>
  </div>

</div>
